.analysis {
    h3 {
        margin-top: 0;
    }

    .list-group-item > .fa {
        margin-right: 8px;
    }
}

.analysis-result-message, .analysis-alert {
    margin-bottom: 20px;
}

.analysis-diff-summary {
    margin: 20px 0;
}

.status-green {
    color: green;
}

.status-grey {
    color: grey;
}

.status-red {
    color: red;
}
