.repo-table {
    .row {
        padding: 5px 0;
        border-bottom: 1px solid $styleci-light;
    }
}

@media (min-width: 768px) {
    .repo-buttons {
        text-align: right;
    }
}

.branch-list {
    li {
        cursor: pointer;
    }
}

.pager {
    li {
        a {
            cursor: pointer;
        }
    }
}
