/bootstrap/compiled.php
/vendor
/workbench
/public/vendor
/public/packages
/public/themes/admin-lavalite
/public/themes/public-lavalite
composer.json
composer.phar
composer.lock
.DS_Store
._**
*.tmp
*.zip
app/storage/geo/GeoLite2-City.mmdb
