.page-heading {
    padding: 30px 0;
    color: $styleci-text;
    background-color: $styleci-primary;
    margin-bottom: 20px;

    h1 {
        font-weight: 100;
        margin-bottom: 2px;
    }

    p {
        color: $styleci-light;
    }

    .header-link {
        color: white;
    }
}
